@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing:border-box;
}

html,body{
    font-family:"Inter",sans-serif;
    background:#F3F4F6
}

.custom-scrollbar::-webkit-scrollbar {
            width: 6px;
        }
.custom-scrollbar::-webkit-scrollbar-track {
            background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
            background: #006e2f;
            border-radius: 10px;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
            background: #006e2f;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
            background: #006e2f;
}